<article class="sidebar">
  <h1 class="sidebar-title">Gallery</h1>
  <p class="sidebar-body">
    Enjoy these photos.
  </p>
  <div class="pixgrid clearfix">
    <% artwork.forEach(function (item, key) {%>
    <img src="/images/speakers/<%=item%>" alt="dog <%=key%>" />
    <%})%>
  </div>
</article>
