<aside class="footer-info w3-container w3-padding-32">
  <h2>Paws & Claws</h2>
  <p class="copyright">For the <i class="fa-brands fa-gratipay"></i> of <i class="fa-solid
  fa-dog"></i>
    <br>copyright © 2022 by <a href="http://lindseyk.dev">lindseyk</a>
  </p>
</aside>

<footer>
  <p class="cells">adopt, don't shop!</p>
  <p class="cells"><a href="#">learn more</a></p>
  <p class="cells">shelters</p>
  <p class="cells"><a href="Url Here">shop</a></p>
</footer>