<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <article class="speakerslist maincontent">
        <h1 class="speakerslist-title">Be Paws-ome!</h1>
        <div class="speakerslist-name">
          with
          <a href="./Hillary_Goldwynn.html">Cane the Rottweiler</a>
        </div>
        <p class="speakerslist-info mt-2">
          <a href="./Hillary_Goldwynn.html"> </a>
          <img
            class="speakerslist-img img-fluid"
            src="./images/dogs/Cane_Rottie.jpg"
            alt="Photo of cane"
          />
        </p>
        <p>
         Hey guys! My name is Cane and I'm just that fun-loving rottie that people can't resist. I like to play, splash in the water and roam around outside. I am a gentle playmate and protector within my family circle, and i like to observe the outside world with a self-assured aloofness.
        </p>
        <p>
         Did you know that Rottweilers were originally bred to drive cattle to market? Later they were used to pull carts for butchers. They were among the earliest police dogs and serve with honor in the military. A calm and confident breed. He's typically aloof toward strangers, but never timid or fearful. Usually he exhibits a /\"wait-and-see\" attitude when confronted with new people and situations. When these characteristics come together as they should, he is a natural guard dog with a mellow disposition who is successful as a family friend and protector.
        </p>
        <p></p>
      </article>
    </div>
    <aside class="col-md-4">
      <article class="sidebar">
        <h1 class="sidebar-title">Rottweilers 🦴</h1>
        <p class="sidebar-body">
         Enjoy a few of my favorite pics of the best breed, the Rottweiler.... and a few of Dobermans too! woof!
        </p>
        <div class="pixgrid clearfix">
          <img src="./images/dogs/cane-the-rot1.jpg" alt="dog 0" />
          <img src="./images/dogs/cane-the-rot2.jpg" alt="dog 1" />
           <img src="./images/dogs/cane-the-rot3.jpg" alt="dog 1" />
          <img src="./images/dogs/cane-the-rot4.jpg" alt="dog 1" />    <img src="./images/dogs/cane-the-rot5.jpg" alt="dog 1" />    <img src="./images/dogs/cane-the-rot6.jpg" alt="dog 1" />    <img src="./images/dogs/cane-the-rot7.jpg" alt="dog 1" />
           <img src="./images/dogs/cane-the-rot8.jpg" alt="dog 1" />
        </div>
      </article>
    </aside>
  </div>
</div>
